<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oncollaboration - {{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <script src="/scripts/script.js" defer></script>
</head>

<body class="secondary-background">   

<header class="main-nav width">

    <a class="logo" href="/"><img src="/assets/AVL-Logo-white.svg" alt="Logo Antoni van Leeuwenhoek Ziekenhuis"></a>
    
    <nav>
        <ul>
            <li><a class="secondary-text" href="/"><span class="text">Home</span><img src="/assets/home_icon.svg" alt=""></a></li>
            <li><a class="secondary-text" href="/webinars"><span class="text">Webinars</span><img src="/assets/webinar_icon.svg" alt=""></a></li>
            <li><a class="secondary-text" href="/contourings"><span class="text">Contourings</span><img src="/assets/contouring_icon.svg" alt=""></a></li>
            <li><a class="secondary-text" href="/profile"><span class="text">Profile</span><img src="/assets/profile_icon.svg" alt=""></a></li>
        </ul>
    </nav>

</header>
