{% render 'partials/head.liquid', title: 'Home' %}

<section class="error width-top">
    <h1>Oeps 404 error</h1>
    <p>Er is iets fout gegaan. De pagina die je wilt bereiken is niet beschikbaar. Ga terug naa</p>

    <ul class="navigatie-error">
        <li><a href="/">Home</a></li>
        <li><a href="/webinars">Webinars</a></li>
        <li><a href="/contourings">Contourings</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</section>

{% render 'partials/foot.liquid' %}