{% render 'partials/head.liquid' %}

<div class="wrapper-detail">

    <section class="left">

        <video src="#"></video>
        <h1>Titel</h1>

        <ul class="info-detail">
            <li>2,000 views</li>
            <li>2,000 views</li>
        </ul>

        <u class="category-detail">
            <li><span>Head & neck</span></li>
            <li><span>Head & neck</span></li>
            <li><span>Head & neck</span></li>
        </ul>

        <button>Read transcript</button>

        <h2>Description</h2>
        <p>Lorem ipsum</p>
        <button>Read more</button>

        <h2>Chapters</h2>

    </section>

    <section class="right">

        <h2>Q&A</h2>

        <form action="#" method="get">
            <input type="text" name="search-webinar" placeholder="Type a reply...">
        </form>

        <section class="watch-next">

            <h2>Watch next</h2>

            <ul class="watch-next-cards">
                <li class="watch-next-card">
                    <video src="#"></video>
                    <h3>Titel</h3>
                    <p>Speaker</p>
                </li>
            </ul>
        </section>
    </section>
</div>

{% render 'partials/foot.liquid' %}